@import url('../../global.module.css');

.page {
  overflow-x: hidden;
  margin: 100px;
  padding: 100px 400px 100px 200px;  
  color: var(--bs-body-color);
  background-color: transparent;
  font-size: 14px;
  line-height: 24px;

}

.page h1 {
  text-align: left;
  width: 100%;
  padding: 100px 0 50px 30px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1;
  
}

.page h2 {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
}

.page p {
  margin: 1em 0;
  font-size: 1rem;
}

.page a {
  color: var(--bs-link-color);
  text-decoration: none;
}

.page ul {
  margin: 1em 0;
  padding-left: 30px;
}

.page li {
  margin-bottom: 8px;
}