node_modules

.dns
.cache
*.env
build/
.wrangler
*.dev.vars
*.toml
__test__
*a7.json
*.code-workspace

archive/
public/draco
storybook-static/
hashnode-archive/
email-service/
workers/
turnstile/

scripts
DO-NOT-RUN.txt
app/config.json

