@import url('../../global.module.css');
@layer components {

.textFade {
  color: var(--bs-body-color);
  opacity: 0; /* Initially hidden */
  transition: opacity .6s ease-in; /* Fade-in transition */
}

.textFade.visible {
  color: var(--bs-body-color);
  opacity: 1; /* Fully visible */
}
}