
.text-fade {
  color: var(--bs-body-color);
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in; /* Fade-in transition */
}

.text-fade.visible {
  color: var(--bs-body-color);
  opacity: 1; /* Fully visible */
}