.gallery {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 20px;
}

.slideWrapper {
  position: relative;
  height: 50vh;
  width: 100%;
}

.descriptionWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 16px;
  z-index: 1;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  text-align: center;
  color: var(--textLight);
  margin: 0;
  padding: 0 80px;
  font-size: var(--fontSizeBodyS);
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  width: 100%;
  white-space: normal;
}

.thumbnail {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.slide {
  height: 50vh;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background: var(--background);
}

.thumbnailImage {
  height: 80px;
  width: 100%;
  object-fit: cover;
}