@import url('../../global.module.css');
@layer components {

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fadeIn.inView {
  opacity: 1;
  transform: translateY(0);
}
}