@layer components {

.menuButton {    
  border: none;
  background-color: transparent;
  color: var(--text);
  cursor: pointer;  
  font-family: var(--fontStack);
  font-size: var(--headerNavFontSize, var(--fontSizeBodyS));
  font-weight: var(--fontWeightMedium);
  line-height: 1;
  padding: 20px 20px 20px 20px;
  border-radius: 3em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.active {}

.menuButton.active {
  background-color: var(--accent);
  color: var(--black);
  font-weight: var(--fontWeightBold);
}

  /* Ensure hover state doesn't override active state */
.menuButton.active:hover {
  background-color: var(--accent);
}


.menuButton:hover {
  background-color: var(--accent);
  color: var(--black);
  animation: bounce 0.5s; /* Apply the bounce animation on hover */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
}