@import url('../../global.module.css');
@layer layout
{

.footer {
  font-family: 'OperatorMonoLig', monospace;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align content to the start (left) */
  align-items: center; /* Align content to the end (bottom) */
  height: 5vh; 
  background-color: transparent;    
  padding: 20px;
} 


 .footer p {
  margin: 1em 0;
  font-size: 1rem;
}

.footer a {
  color: var(--accent);
  text-decoration: none;

}

.footerContent {
  display: flex;
  align-items: flex-end; /* Align content to the end (bottom) */
  position: absolute;
  bottom: 20px; 
  font-size: 1rem; 
}


@media (max-width: 600px) {
  .footerContent {
    font-size: 0.8rem; /* Adjust the font-size for mobile devices */
  }    

.footer svg {
  display: inline-block;
  vertical-align: top;
}
}
}

