
.webdev {  
  padding: 0;   
  overflow-x: hidden;  
  line-height: 2;
  width: 100%;
  z-index: 1; 
}

.audioContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px;
  z-index: 2;
}

