@layer components {
  .section {
    width: 100%;
    max-width: var(--maxWidthL);
    margin: 0 auto;
    padding-right: var(--spaceM);
    padding-left: var(--spaceM);
    box-sizing: border-box;

  &:focus {
    outline: none;
  }

  @media (--mediaTablet) {
    padding-left: var(--spaceL);
    padding-right: var(--spaceL);
    width: 100%;
  }

  @media (--mediaMobile) {
    padding-left: var(--spaceM);
    padding-right: var(--spaceM);
    width: 100%;
    overflow-x: hidden;
  }

  @media (--mediaMobileS) {
    padding-left: var(--spaceS);
    padding-right: var(--spaceS);
  }

  @media (--mediaMobileLS) {
    padding-left: var(--spaceM);
    padding-right: var(--spaceM);
  }
}
}
